<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="pushNotificationMapper">


<resultMap id="returnPushNotifDeviceTokenListMap" 	type="com.path.alert.vo.omniservice.PushNotificationCO">
       <result property="notifDeviceToekenId"   column="NOTIFICATION_DEVICE_TOKEN_ID"/>       
       <result property="appId"   				column="APP_ID"/>
       <result property="udid"       		 	column="UDID"/>
       <result property="deviceToken"       	column="DEVICE_TOKEN"/>
       <result property="ocUserId"       		column="CHANNEL_USER_ID"/>
       <result property="status"              	column="STATUS"/>
 </resultMap>
       
<select id="returnPushNotifDeviceTokenList" resultMap="returnPushNotifDeviceTokenListMap" parameterType="com.path.alert.vo.omniservice.PushNotificationSC" >
     SELECT DT.NOTIFICATION_DEVICE_TOKEN_ID,DT.UDID, DT.DEVICE_TOKEN, DT.CHANNEL_USER_ID    		
    FROM  ALRT_NOTIFICATION_DEVICE_TOKEN DT 
    WHERE 	DT.COMP_CODE  = #{compCode}
    AND DT.STATUS = '${@com.path.alert.bo.omniservice.PushNotificationConstant@STATUS_ACTIVE}'
    AND DT.CHANNEL_USER_NAME =  #{channelUserName}
  </select>
  
  
  <select id="returnPushNotificationList" resultMap="returnPushNotificationListMap" parameterType="com.path.alert.vo.omniservice.PushNotificationSC" >
  
     SELECT DT.NOTIFICATION_DEVICE_TOKEN_ID,DT.UDID, DT.DEVICE_TOKEN,  DT.CREATED_DATE  , DT.CHANNEL_USER_ID ,DT.STATUS ,  
     		PN.TITLE , PN.BODY , PN.LANDING_PAGE , PN.NOTIFICATION_DATA , 
     		PN.PUSH_NOTIFICATION_ID , 
     		PN.STATUS NOTIFICATION_STATUS , PN.CREATED_DATE NOTIFICATION_DATE     		
    FROM  ALRT_NOTIFICATION_DEVICE_TOKEN DT 
    	LEFT JOIN ALRT_PUSH_NOTIFICATION PN
    		ON ( DT.NOTIFICATION_DEVICE_TOKEN_ID = PN.NOTIFICATION_DEVICE_TOKEN_ID
    			AND DT.COMP_CODE = PN.COMP_CODE )
    WHERE 	DT.COMP_CODE  = #{compCode}
    AND DT.STATUS = '${@com.path.alert.bo.omniservice.PushNotificationConstant@STATUS_ACTIVE}'
     <if test=" null != ocUserId" >
    	AND DT.CHANNEL_USER_ID =  #{ocUserId}
    </if> 
    <if test=" null != udid" >
    AND DT.UDID =  #{udid}
    </if> 
  </select>
  
  

	 <resultMap id="returnPushNotificationListMap" type="com.path.alert.vo.omniservice.PushNotificationCO">
       <result property="notifDeviceToekenId"   column="NOTIFICATION_DEVICE_TOKEN_ID"/>       
       <result property="udid"       		 	column="UDID"/>
       <result property="deviceToken"       	column="DEVICE_TOKEN"/>
       <result property="tokenCreateDate"       column="CREATED_DATE"/>
       <result property="ocUserId"       		column="CHANNEL_USER_ID"/>
       <result property="status"              		column="STATUS"/>
       
	<collection property="pushNotificationDetailList"   column="pushNotificationId" javaType="ArrayList" ofType="com.path.alert.vo.omniservice.PushNotificationDetailCO">
		
       <result property="pushNotificationId"          column="PUSH_NOTIFICATION_ID"/>
       <result property="title"        				column="TITLE"/>
       <result property="body"        				column="BODY"/>
       <result property="notifData"        			column="NOTIFICATION_DATA"/>
       <result property="landingPage"        		column="LANDING_PAGE"/>
       <result property="notificationDate"        	column="NOTIFICATION_DATE"/>
       <result property="status"              		column="NOTIFICATION_STATUS"/>
     </collection> 
   </resultMap>   
   
   
	
</mapper>